<!DOCTYPE html>
<html lang="PT-br--"> <!--alteramos a linguagem do arquivo en - ingles PT-br português-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Combinação das teclas alt + Z, mostra todo o codigo de uma linha na tela-->
    <title>IFPR Viagens!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <p>IFPR Viagens</p>
            <!--Adiciona uma lista desordenada ul é a lista e li os elesmentos da lista-->
            <ul>
                <li>Home</li>
                <li>Pacotes</li>
                <li>Serviços</li>
                <li>Contatos</li>
            </ul>
        </nav>
        <div id="home" class="header-content">
            <h1>Monte Fuji</h1>
            <p> Conheça o mote fuji, veja as belezas desse lugar! O embarque está próximo, junte-se a nós da IFPR Viagens!</p>
            <button> Siaba mais</button>
        </div>
    </header>
</body>
</html>