<!DOCTYPE html>
<html lang="PT-br--">
<!--alteramos a linguagem do arquivo en - ingles PT-br português-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--Combinação das teclas alt + Z, mostra todo o codigo de uma linha na tela-->
    <title>IFPR Viagens!</title>
</head>

<body>
    <header class="hed_menu">
        <nav class="nav_menu">
            <p><a href="">IFPR Viagens</a></p>
            <!--Adiciona uma lista desordenada ul é a lista e li os elesmentos da lista-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Pacotes</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Contatos</a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>

        <div id="home" class="header_content">
            <h1>Conheça a Holanda</h1>
            <p> Conheça o mote fuji, veja as belezas desse lugar! O embarque está próximo, junte-se a nós da IFPR
                Viagens!
            </p>
            <button> Saiba mais</button>
        </div>
    </header>
</body>

</html>